.make_round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dash_board {
    background-color: #F2B2C4;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: large;
}

.height_200 {
    height: 200px;
}
.dash_board_label {
    display: inline-block;
    /*line-height: 1.8;*/
    /*vertical-align: top;*/
    margin-right: 20px;
    font-size: xx-large;
}
.dash_board_span {
    text-align: right;
    font-size: xx-large;
}

ul {
    margin: 5px;
    padding: 5px;
}

li {
    list-style: none;
    padding: 0px;
    /*margin: 2px;*/
}

.padding_10 {
    padding: 10px;
}

.padding_15 {
    padding: 15px;
}

.user_grid {
    height:300px;
}

.dialog {
    top : 100px;
}

.height_200 {
    height : 200px;
}

.height_400 {
    height : 400px;
}

.big_font_size {
    font-size: xx-large;
}

.my_font_size {
    font-size: 1.5em;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.spanify {
    clear: both;
    display: inline-block;
}


.mybtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color:#fe1a00;
    -webkit-border-top-left-radius:18px;
    -moz-border-radius-topleft:18px;
    border-top-left-radius:18px;
    -webkit-border-top-right-radius:18px;
    -moz-border-radius-topright:18px;
    border-top-right-radius:18px;
    -webkit-border-bottom-right-radius:18px;
    -moz-border-radius-bottomright:18px;
    border-bottom-right-radius:18px;
    -webkit-border-bottom-left-radius:18px;
    -moz-border-radius-bottomleft:18px;
    border-bottom-left-radius:18px;
    text-indent:0;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:50px;
    line-height:50px;
    width:81px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #b23e35;
}
.mybtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
}.mybtn:active {
     position:relative;
     top:1px;
 }

 .myselect {
     -webkit-appearance: menulist-button;
 }

 .align-right {
     margin-left : 50px;
 }

 #message_div {
     float: right;
 }

 #AppVersionCode {

 }
 #AppVersionOption {

 }

.code_btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:37px;
    line-height:37px;
    width:98px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.code_btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
    cursor: pointer;
}.code_btn:active {
     position:relative;
     top:1px;
 }


.code-field {
    border:2px solid #456879;
    border-radius:10px;
    height: 22px;
    width: 100px;
    font-size: large;
    text-align: center;
}

.app_version_option_select {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    /*background-color: buttonface;*/
    box-sizing: border-box;
    margin: 0em;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb;
}




#message_list_div {
    display: inline-block;
    /*float: left;*/
    /*clear: both;*/
    vertical-align: top;
}

#csv_div {
    display: inline-block;
    margin-left: 100px;
    /*float:right;*/
    /*vertical-align: middle;*/
}

#message_list_div input {
    font-size: small;
    width: 150px;

}
#message_list {
    background-image:url(/chupamanager/img/bg_chat_pattern.png);
    width: 300px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.message_container {
    border: 1px solid;
    border-radius: 18px;
    padding : 5px;
    font-size: small;
    margin: 3px;
}
.message_pic {
    display: inline;
    vertical-align: middle;
}
.message_pic img{
    display: inline-block;
    /**display: inline; *//* for older IE */
    /**zoom: 1; *//* for older IE */
    width: 20%;
    height: 20%;
    border-radius: 10px;
    vertical-align: middle;
}
.message_info{
    display: inline;
}
.message_detail{
    display: inline;
}
.message_sender {
    display: inline;
}
.message_gender {
    display: inline;
}
.message_age {
    display: inline;
}
.message_time {
    display: inline;
}
.message_content {
    margin-left : 80px;
}

/*//.AXContextMenu .contextMenuItem.first {*/
/*//.AXContextMenu .contextMenuItem.last {*/
/*//.AXContextMenu .contextMenuItem.doc {*/
/*//.AXContextMenu .contextMenuItem.docline {*/
/*//.AXContextMenu .contextMenuItem.plus {*/
/*//.AXContextMenu .contextMenuItem.minus {*/
/*//.AXContextMenu .contextMenuItem.group {*/
/*//.AXContextMenu .contextMenuItem.edit {*/
/*//.AXContextMenu .contextMenuItem.copy {*/
/*//.AXContextMenu .contextMenuItem.cut {*/
/*//.AXContextMenu .contextMenuItem.paste {*/
/*//.AXContextMenu .contextMenuItem.up {*/
/*//.AXContextMenu .contextMenuItem.down {*/
/*//.AXContextMenu .contextMenuItem.left {*/
/*//.AXContextMenu .contextMenuItem.right {*/
/*//.AXContextMenu .contextMenuItem.link {*/
/*//.AXContextMenu .contextMenuItem.unlink {*/
/*//.AXContextMenu .contextMenuItem.openall {*/
/*//.AXContextMenu .contextMenuItem.closeall {*/